@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo h2 {
  font-family: "Hanalei", cursive;
}
/* Showcase */
.showcase {
  height: 100vh;
  background: url("./assets/calun.jpg") center/cover no-repeat;
}
.showcase .overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}
